
.IMG_blog {
        

        img{
            height: 24rem;

        }
    }

    .IMG_programming {
        grid-column: 1;
        grid-row: 2;

        img {
            height: 24rem;
        }
    }

    @media screen and (max-width: 360px) {
        
        .IMG_blog {
            
            grid-column: 1/3;

            img {
                height: 55rem;
            }
        }
    }