
@import '../../sass/variants.scss';

.container_contact { 
    
    grid-column: 1/3;
    
    margin-bottom: 2rem;
    text-align: center;

    h3 {
        font-size: 1rem;
    }
    
    .container_metods {
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin-top: 3rem;
        

        .container_metod {
            
            
            padding: .6rem;

            .metod {
                    
                display: flex;
                flex-direction: column;
                align-items: center; 
                text-decoration: none;
                color: $color_05;

                #icon {
                    font-size: 2rem;
                }
            }
        }
 

        .container_metod:hover {
            cursor: pointer;
            transform: scale(1.1,1.1);
            
            .metod {
                color: $color_03;
            }
        }
    }
}

@media screen and (max-width: 360px) {

    .container_contact {

        .container_metods {
            
            .container_metod {

                .metod {
                    font-size: 3rem;
                    #icon {
                        font-size: 4rem;
                    }
                }
            }
            
            .container_metod:hover {
                
                transform: none;
                
                .metod {
                    color: $color_05;
                }
            }
        }

    }
}